logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.swp
package-lock.json
/scripts/**/*.js
/app/**/*.js
/config/**/*.js
/lib/**/*.js
/test/**/*.js
*.js
*.d.ts
di.js
orm.js
meta.js
tracking.js
test.js
.vscode

!typings/*.d.ts
!.autod.conf.js
